.loginform{
    margin-top: 150px;
    background-color: aqua;
    width: fit-content;
    padding: 50px;
    border-radius: 2px;
    border-color: black;
    border-style: solid;
}


.logininput{
    background-color: aliceblue;
    margin-top: 15px;
    padding: 5px;
    border-radius: 25px;
    text-align: center;
    height:fit-content;
    width: fit-content;
}